@charset "utf-8";
.scrollpic {width:100%;}
#myscroll {background: url(/images/ico_24a.png) repeat-x; height:46px; line-height:20px; position:relative; overflow:hidden;}
#myscroll #myscrollbox {position:absolute; left:0; top:0; width:1000000px; transition:0.5s all ease;}
#myscroll ul li {float:left; width:134px; font-size:18px; text-align:center; position:relative;}
#myscroll ul li p {border-right:1px solid #CDCDCD; margin:10px 0;}
#myscroll ul li.on p {background: #F19149; color:#FFF; margin:0; line-height:40px;}
#myscroll ul li.on i {background: url(/images/ico_24b.png) no-repeat center 0; width:100%; height:6px; display:block;}
/*#myscroll #anniu1_1 p {border-radius:6px 0 0 6px;}*/
#mybtns {position:relative;}
#mybtns a {background: url(/scripts/tab_scroll/ico.png) no-repeat; display: block; width: 10px; height: 17px; position:absolute; top:-40px;}
#mybtns #left {right:20px;}
#mybtns #right {background-position: right 0; right:0;}
#mybtns #left:hover {background-position: 0 bottom;}
#mybtns #right:hover {background-position: right bottom;}