@charset "utf-8";
/* 全局 */
body {background: #F7F7F7; font-family:"微软雅黑","Arial","宋体"; color: #333; font-size: 12px; min-width:1300px;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,th,td {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,textarea,select {margin:0; font-size:100%; font-family:"微软雅黑","Arial","宋体";}
ul,li,ol {list-style-type: none;}
img {border:0;}
.del {text-decoration: line-through;}

/* 清除浮动 */
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
*html .clearfix {height:1%;}
*+html .clearfix {height:1%;}
.clrfix:before, .clrfix:after {content:""; display:table;}  
.clrfix:after {clear:both;}  
.clrfix {zoom:1;}
/* 清除浮动 适用100% */
.overflowfix {overflow:auto; zoom:1;}
.displayfix {display:inline-block; *display:inline; zoom:1; width:100%; _width: auto;}

/* 去掉A标签和按钮的虚线框 谷歌默认无虚线 */
a {blr:expression(this.onFocus=this.blur());} /* A标签：IE7 IE6  */
a:focus {outline:none;} /* A标签：FF IE8  */
input::-moz-focus-inner{border:0;} /* 按钮：FF */
area {outline:none;} /* 热区：360取消蓝色边线 */

/* 去掉谷歌两种文本框和下拉的阴影 */
input,textarea,select  {outline: none;}

/* IE6 提示升级 */
.ie6_bg { background: url(/images/ie6/ie6_bg.gif) repeat-x; height: 110px; }
.ie6 { background: url(/images/ie6/ie6.gif) no-repeat; width:924px; height: 110px; margin:0 auto; }
.ie6 ul { padding-left:310px; }
.ie6 li { float:left; padding-left:40px; }
.ie6 li a { width:61px; height: 110px; display:block; }

/* 版权 */
.bqxx { background:url(http://218.30.67.146:9999/0bqxx/bqxx.gif) no-repeat center 0; width:100%; height:252px; position: fixed; top:100px; left:0; z-index:9999; display:none; }

/* 特有 */
.clr{clear:both; font-size:0; height:0; line-height:0;}
.clr10{clear:both; font-size:0; height:10px; line-height:normal;}
.clr15{clear:both; font-size:0; height:15px; line-height:normal;}
.clr20{clear:both; font-size:0; height:20px; line-height:normal;}
.clr30{clear:both; font-size:0; height:30px; line-height:normal;}
.fl {float: left;}
.fr {float: right;}
.va_t{vertical-align:text-top;}
.va_c{vertical-align: middle;}
.va_b{vertical-align:text-bottom;}
.w_auto {width:auto;}
.h_auto {height:auto;}
.wh_auto {width:auto; height:auto;}
.sxbl_table_over td {background:#FFFFCC !important;}/*table表格，经过td变色*/

/* 链接 */ /*a.a_baise:link, a.a_baise:visited, a.a_baise:active*/
a {text-decoration: none; color: #333;}
a:hover {text-decoration: none; color: #FF6600;}

/* 图片居中公用 */
.pic_center {
	display: block; text-align:center; cursor:pointer;
}
.pic_center i {
	display:inline-block; height:100%; vertical-align:middle;
}
.pic_center img {
	vertical-align:middle;
}

/* 通用 */
.block {
    margin:0 auto;
	width:1200px;
}
.block_b {
	background:#FFF;
}
.block .area_l {
	float:left;
	width:200px;
}
.block .area_r {
	float: right;
	width:780px;
}
/*.block .area_r .area_r_l {
	float: left;
	width:490px;
}
.block .area_r .area_r_r {
	float: right;
	width:490px;
}*/

/* 单页详情 */
.block_info_h {
    background: #F9F9FB;
	padding:70px 0;
}
.block_info_b {
    background: #FFF;
	padding:70px 0;
}
.block_info {
    background: url(/images/ico_16.png) repeat-y;
	margin:0 auto;
	width:1200px;
}
.block_info .area_l {
	float:left;
	width:300px;
}
.block_info .area_l .info_title {
	padding-bottom:60px;
}
.block_info .area_l .info_title span {
	display:block;
	color:#F15A23;
	font-size:18px;
}
.block_info .area_l .info_title b {
	display:block;
	color:#000000;
	font-size:25px;
	font-weight:normal;
	line-height:27px;
}
.block_info .area_l .info_pic {
	padding-bottom:60px;
}
.block_info .area_l .info_button p {
	float:left;
	padding-right:20px;
	width:45px;
	text-align:center;
}
.block_info .area_l .info_button p a {
    background: url(/images/ico_15.png) no-repeat center 0;
	color:#999999;
	display:block;
	padding-top:48px;
}
.block_info .area_l .info_button p.a2 a {
	background-position:center -100px;
}
.block_info .area_l .info_button p.a3 a {
	background-position:center -200px;
}
.block_info .area_l .info_button p span {
	font-size:11px; -webkit-transform: scale(0.92); -moz-transform : scale(1);
	display:block;
}
.block_info .area_l .info_button p a:hover {
	color: #FF6600;
}
.block_info .area_r {
	float: right;
	width:800px;
	padding-bottom:10px;
}
.block_info .area_r .info_title {
	padding-bottom:20px;
}
.block_info .area_r .info_title span {
	color:#000000;
	font-size:16px;
	padding-left:8px;
}
.block_info .area_r .info_title b {
	color:#000000;
	font-size:20px;
	font-weight:normal;
}
.block_info .area_r .info_content {
	color:#666666;
	font-size:14px;
	line-height:25px;
	overflow:hidden;
}
.block_info .area_r .info_content img {
	max-width:800px;
}
.block_info .area_r .info_data {
	text-align:center;
	padding:40px 0 0;
}

/* 内页左侧菜单浮动 */
.anchor_jbx {
    position: fixed;
    z-index: 1000;
    top: 10px;
    right: 50%;
	width: 300px;
    margin-right:300px;
}
/*.anchor_jbx {
    position: fixed;
    z-index: 1000;
    top: 10px;
    left: 0;
	width:100%;
}
.anchor_jbx_bg {
	width:1200px;
	margin: 0 auto;
}*/

/* 案例详情 */
.block_case .area_t {
	border-bottom:1px solid #E5E5E5;
}
.block_case .area_t .area_r {
	float:right;
	border-left:1px solid #E5E5E5;
	height:190px;
	width:270px;
	text-align:center;
}
.block_case .area_t .area_r .title {
	padding:30px 0 20px;
}
.block_case .area_t .area_r .button p {
	display:inline-block; *display:inline; zoom:1;
	padding:0 5px;
}
.block_case .area_t .area_r .button a {
    background: url(/images/ico_20.png) no-repeat;
	display:inline-block; *display:inline; zoom:1;
	width:85px;
	height:85px;
}
.block_case .area_t .area_r .button a span {
	display:inline-block; *display:inline; zoom:1;
	padding-top:45px;
	cursor: pointer;
}
.block_case .area_t .area_r .button .a2 a {
	background-position:0 -200px;
}
.block_case .area_t .area_r .button a:hover {
	background-position:0 -400px;
	color:#FFFFFF;
}
.block_case .area_t .area_r .button .a2 a:hover {
	background-position:0 -600px;
}
.block_case .area_t .area_l .bg {
	padding:40px 50px 0 60px;
	margin-right:270px;
}
.block_case .area_t .area_l .title {
	font-size:22px;
	color:#333333;
}
.block_case .area_t .area_l .sum {
	color:#999;
	height:40px;
	line-height:20px;
	overflow:hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.block_case .area_t .area_l .count {
	height:40px;
	line-height:40px;
}
.block_case .area_t .area_l .count p {
	background:url(/images/ico_12.png) no-repeat 0 -37px;
	float:left;
	padding:0 12px 0 21px;
	color:#BBB;
	font-family:Arial, Helvetica, sans-serif;
}
.block_case .area_t .area_l .count p.a2 {
	background-position: 0 -89px;
}
.block_case .area_b {
	padding:70px 80px;
}
.block_case .area_b .case_content {
	font-size:14px;
	line-height:30px;
	overflow:hidden;
}
.block_case .area_b .case_content img {
	max-width:1040px;
}

/*案例、新闻、简介等全屏框架*/
.block_column_bg {
	padding:50px 0;
	position:relative;
}
.block_column {
    background: #FFF;
	margin:0 auto;
	width:1200px;
}
.block_column .column_title {
	border-bottom: 1px solid #E5E5E5;
	padding:40px 0 20px;
	margin:0 50px;
	/*padding-left:30px;*/
}
.block_column .column_title span {
	color:#000000;
	font-size:16px;
	padding-left:8px;
}
.block_column .column_title b {
	color:#000000;
	font-size:20px;
	font-weight:normal;
}
.block_column .page {
	padding:20px 0 60px;
}

/*案例、新闻详情右侧浮动*/
.block_column_bg .column_fixed {
	position: absolute;
	top:50px;
	left:50%;
	margin-left:610px;
	width:70px;
}
.block_column_bg .column_fixed li {
	padding-bottom:10px;
}
.block_column_bg .column_fixed li a {
	background:url(/images/ico_18.png) no-repeat #FFF center 20px;
	display:block;
	height:70px;
	text-align:center;
}
.block_column_bg .column_fixed li.a2 a {
	background-position: center -75px;
}
.block_column_bg .column_fixed li a:hover {
	background-position: center -180px;
}
.block_column_bg .column_fixed li.a2 a:hover {
	background-position: center -275px;
}
.block_column_bg .column_fixed li a span {
	display:block;
	padding-top:45px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.anchor_fixed {
	position: fixed;
	top:10px;
	left:50%;
	margin-left:610px;
	width:70px;
}

/* 新闻详情 */
.block_news {
	padding:50px 80px 80px;
}
.block_news .area_t {
	border-bottom:1px solid #E5E5E5;
	text-align:center;
	position:relative;
}
.block_news .area_t .title {
	font-size:22px;
	color:#333333;
	padding-bottom:12px;
}
.block_news .area_t .time {
	color:#999;
	padding-bottom:25px;
}
.block_news .area_t .count {
	height:40px;
	line-height:40px;
	position:absolute;
	bottom:5px;
	right:0;
}
.block_news .area_t .count p {
	background:url(/images/ico_12.png) no-repeat 0 -37px;
	float:left;
	padding:0 0 0 21px;
	color:#BBB;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:12px;
}
.block_news .area_t .count p.a2 {
	background-position: 0 -89px;
}
.block_news .area_b {
	padding:30px 0 0;
}
.block_news .area_b .news_content {
	font-size:14px;
	line-height:30px;
	overflow:hidden;
	padding-bottom:50px;
}
.block_news .area_b .news_content img {
	max-width:1040px;
}

/* 信息详情上下页 */
.news_page {
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
	padding:15px 0;
}
.news_page p {
	height:40px;
	line-height:40px;
	overflow:hidden;
	float:left;
	width:520px;
	font-size:14px;
	color:#999999;
}
.news_page p.a1 {
    border-right: 1px solid #E4E4E4;
}
.news_page p.a2 {
	float:right;
	text-align:right;
	width:519px;
}
.news_page p a {
	color:#333;
}
.news_page p a:hover {
	color:#FF6600;
}
.news_page p.a1 span {
	padding-right:10px;
	font-family: "宋体";
	font-size:16px;
}
.news_page p.a2 span {
	padding-left:10px;
	font-family: "宋体";
	font-size:16px;
}

/* 面包屑 */
.crumb {
	background:#FFF;
	border-bottom:1px solid #E5E5E5;
}
.crumb .position {
	background: url(/images/common/ico_home2.gif) no-repeat 0 center;
	font-size:14px;
	padding-left:25px;
	line-height:100px;
}
.crumb .position a {
	color: #999;
}
.crumb .position a:hover {
	color: #000;
}
.crumb .position span {
	color: #999;
}
.crumb .position b {
	color: #333;
	font-weight:normal;
}
.crumb .position i {
	font-family:"宋体";
	padding:0 8px;
	font-weight:normal;
	font-style:normal;
	color: #999;
}
.crumb .nav {
	float: right;
}
.crumb .nav .pull_li {
	float:left;
	position:relative;
	z-index:2;
	padding-left:30px;
}
.crumb .nav .subnav_li {
	background: url(/images/ico_21.png) no-repeat right center;
	padding-right:15px;
}
.crumb .nav .pull_li .pull_a {
	display:inline-block; *display:inline; zoom:1;
	font-family:"微软雅黑","黑体";
	font-size:14px;
	height:100px;
	line-height:100px;
	color:#666;
	border-bottom:3px solid #FFF;
}
.crumb .nav .pull_li .pull_a:hover, .crumb .nav .pull_li .on {
	color: #000;
}
.crumb .nav .pull_li .on {
	border-color:#000;
}
.crumb .nav .pull_li_hover .on {
	border-color:#FFF;
}
.crumb .nav .pull_li_hover .pull_a {
	color:#000;
}
.crumb .nav .subnav {
	background:#FFF;
	position: absolute;
	top:110px;
	left:10px;
	width:100%;
	padding:10px 0 15px;
	box-shadow:0 3px 3px #cecece;
	border:1px solid #E5E5E5 \9;
	border-top: none;
	border-radius:0 0 5px 5px;
	transition:0.3s all ease;
	opacity:0; filter:alpha(opacity=0); zoom:1; visibility: hidden;
	visibility: visible \9; display:none \9;
}
.crumb .nav .pull_li_hover .subnav {
	top:103px;
	opacity:1; filter:alpha(opacity=100); visibility: visible;
	display: block \9;
}
.crumb .nav .subnav_b {
	left:-40px;
	width:230px;
}
.crumb .nav .subnav span {
	display:block;
}
.crumb .nav .subnav span a {
	display:block;
	color:#666;
	text-align:center;
	height:28px;
	line-height:28px;
	overflow:hidden;
}
.crumb .nav .subnav span a:hover {
	color: #000;
}

/* header */
.header {
	background:#FFF;
	height:100px;
}
.header .logo {
	float:left;
	font-size:0;
	line-height:0;
	padding-top:26px;
}
.header .top_nav {
	float:right;
	height:100px;
	border-left:1px solid #ECECEC;
	border-right:1px solid #ECECEC;
	padding:0 20px;
}
.header .top_nav ul {
	padding-top:42px;
}
.header .top_nav li {
	background: url(/images/ico_01.png) no-repeat center 0;
	float:left;
	width:40px;
	position:relative;
	z-index:10;
	text-align:center;
}
.header .top_nav li.a2 {
	background-position:center -50px;
}
.header .top_nav li.a3 {
	background-position:center -100px;
}
.header .top_nav li.a4 {
	background-position:center -150px;
}
.header .top_nav .nav_a {
	display:block;
}
.header .top_nav span {
	display:block;
	padding-top:23px;
	opacity:0; filter:alpha(opacity=0); zoom:1;
	color:#999999;
	transition:0.3s all ease;
}
.header .top_nav li.a1 .nav_a:hover span {
	opacity:1; filter:alpha(opacity=100);
	padding-top:18px;
}
.header .top_nav li.a2 .nav_a:hover span {
	opacity:1; filter:alpha(opacity=100);
	padding-top:18px;
}
.header .top_nav li.a3 i {
	position:absolute;
	top:30px;
	left:-105px;
	transition:0.3s all ease;
	opacity:0; filter:alpha(opacity=0); zoom:1; visibility: hidden;
	visibility: visible \9; display:none \9;
}
.header .top_nav li .nav_a:hover i {
	top:20px;
	opacity:1; filter:alpha(opacity=100); visibility: visible;
	display: block \9;
}
.header .top_search {
	position:absolute;
	top:30px;
	right:-28px;
	transition:0.3s all ease;
	opacity:0; filter:alpha(opacity=0); zoom:1; visibility: hidden;
	visibility: visible \9; display:none \9;
}
.header .top_nav li .nav_a:hover .top_search {
	top:20px;
	opacity:1; filter:alpha(opacity=100); visibility: visible;
	display: block \9;
}
.header .top_search .search_c {
	background:url(/images/search_bg.png) no-repeat;
	width:336px;
	height:70px;
}
.header .top_search .search_c .text {border: none; background: #FFF; width: 210px; color: #999; font-size: 12px; padding: 0; height:50px; line-height:50px; margin:12px 0 0 48px; float:left;}
.header .top_search .search_c .button {background: none; margin:12px 8px 0 0; padding:0; width:64px; height:50px; border: none; cursor:pointer; float: right; font-size: 12px;}
.header .top_search .search_c .button:hover {color:#FF6600;}

/* mainnav */
.mainnav {
	float:right;
	padding-right:20px;
}
.mainnav .pull_li {
	float:left;
	position:relative;
	z-index:2;
	padding:0 18px;
}
.mainnav .pull_li .pull_a {
	display:inline-block; *display:inline; zoom:1;
	font-family:"微软雅黑","黑体";
	font-size:14px;
	height:98px;
	line-height:98px;
	color:#666;
	border-bottom:2px solid #FFF;
}
.mainnav .pull_li .pull_a:hover, .mainnav .pull_li .on {
	color: #000;
}
.mainnav .pull_li .on {
	border-color:#000;
}
.mainnav .pull_li_hover .on {
	border-color:#FFF;
}
.mainnav .pull_li_hover .pull_a {
	color:#000;
}
.mainnav .subnav {
	background:#FFF;
	position: absolute;
	top:110px;
	left:-14px;
	width:120px;
	padding:5px 0 15px;
	border-radius:0 0 5px 5px;
	transition:0.3s all ease;
	opacity:0; filter:alpha(opacity=0); zoom:1; visibility: hidden;
	visibility: visible \9; display:none \9;
}
.mainnav .subnav_a {
	left:7px;
}
.mainnav .pull_li_hover .subnav {
	top:100px;
	opacity:1; filter:alpha(opacity=100); visibility: visible;
	display: block \9;
}
.mainnav .subnav_b {
	left:-40px;
	width:230px;
}
.mainnav .subnav span {
	display:block;
}
.mainnav .subnav span a {
	display:block;
	color:#666;
	text-align:center;
	height:28px;
	line-height:28px;
	overflow:hidden;
	/*padding:0 30px;*/
}
.mainnav .subnav span a:hover {
	color: #000;
}

/*页码*/
.page {
	text-align:center;
	color:#999;
}
.page .number a, .page .number span, .page b {
	display:inline-block; *display:inline; zoom:1;
	padding:9px 12px;
	border:1px solid #DEDFDE;
	font-family:Arial, Helvetica, sans-serif;
	color:#999;
	border-radius:3px;
	font-weight:normal;
	background:#FFF;
	margin:0 1px;
}
.page .number a:hover, .page .number span {
	border:1px solid #FF6600;
	background:#FF6600;
	color:#FFFFFF;
}
.page .info {
	padding-left:8px;
}

/* 右侧浮动栏目 */
.side_bar {
	background:url(/images/ico_02.png) no-repeat right 0;
    width: 94px;
	height:322px;
    position: fixed;
    top: 23%;
    right: 0;
    z-index: 900;
}
.side_bar ul {
	padding:15px 0 0 6px;
}
.side_bar ul li {
	padding-bottom:1px;
}
.side_bar .side_bar_a {
	background:url(/images/ico_03.png) no-repeat center 12px;
	display:block;
	height:73px;
	text-align: center;
}
.side_bar .side_bar_a:hover {
	color:#FF6600;
}
.side_bar .a2 .side_bar_a {
	background-position:center -88px;
}
.side_bar .a3 .side_bar_a {
	background-position:center -188px;
}
.side_bar .a4 .side_bar_a {
	background-position:center -288px;
}
.side_bar .a1 .side_bar_a:hover {
	background-position:center -388px;
}
.side_bar .a2 .side_bar_a:hover {
	background-position:center -488px;
}
.side_bar .a3 .side_bar_a:hover {
	background-position:center -588px;
}
.side_bar .a4 .side_bar_a:hover {
	background-position:center -688px;
}
.side_bar .side_bar_a span {
	display:block;
	padding-top:45px;
}
.side_bar .layer {
	background:url(/images/ico_02.png) no-repeat right bottom;
    width: 291px;
	height:247px;
	position:absolute;
	top:0;
	right:98px;
	transition:0.3s all ease;
	opacity:0; filter:alpha(opacity=0); zoom:1; visibility: hidden;
	visibility: visible \9; display:none \9;
}
.side_bar .a1:hover .layer {
	right:88px;
	opacity:1; filter:alpha(opacity=100); visibility: visible;
	display: block \9;
}
.side_bar .layer .phone {
	padding:23px 0 0 30px;
	line-height:25px;
	color: #666666;
	height:158px;
}
.side_bar .layer .button {
	padding:0 0 0 30px;
}
.side_bar .layer .button p {
	float:left;
	width:100px;
	padding-right:20px;
}
.side_bar .layer .button a {
	display:block;
	line-height:35px;
	border:1px solid #dcdcdc;
	background:#F8F8F8;
	background-image: linear-gradient(to bottom, #FFF, #F8F8F8);
	text-align:center;
	border-radius:5px;
}
.side_bar .layer .button a:hover {
	border:1px solid #CCC;
	background:#FFF;
	color:#000;
}

/* footer */
.footer {
	background:#000000;
	color:#666;
}
.footer a {
	color:#666;
}
.footer a:hover {
	color:#FFF;
}
.footer .footer_t {
	border-bottom:1px solid #3A3A3A;
	padding:50px 0;
}
.footer .footer_t dl {
	float:left;
	width:160px;
}
.footer .footer_t dl.a7 {
	width:220px;
}
.footer .footer_t dl dt {
	font-size:14px;
	color:#FFFFFF;
	padding-bottom:12px;
}
.footer .footer_t dl dd {
	line-height:26px;
}
.footer .footer_c {
	padding:25px 0;
}
.footer .footer_c .contact {
	background: url(/images/ico_08.png) no-repeat 0 4px;
	float: left;
	color:#FFFFFF;
	margin-top:10px;
}
.footer .footer_c .contact b {
	display: block;
	font-family: 华文细黑, Arial;
	font-size:25px;
	font-weight:normal;
	padding-left:30px;
}
.footer .footer_c .contact span {
	display: block;
}
.footer .footer_c .logo {
	float: left;
	padding:20px 0 0 20px;
}
.footer .footer_c .code {
	float:right;
}
.footer .footer_b {
	border-top:1px solid #3A3A3A;
	padding:30px 0;
}
.footer .footer_b .nav {
	float:right;
}
.footer .footer_b .nav * {
	vertical-align: middle;
}
.footer .footer_b .nav span {
	padding:0 10px;
	font-size:8px; -webkit-transform: scale(1,0.6); -moz-transform : scale(1);
	display:inline-block; *display:inline; zoom:1;
}

/* banner */
/*.block_banner {
	font-size:0;
	line-height:0;
}
.block_banner img {
	width:100%;
}*/
.block_banner {
	background:url(/images/banner/banner_01.jpg) no-repeat center 0;
	height:500px;
}

/* 选项卡 */
/*.tab_01 {
	background:#FFF;
}
.tab_01 .tab_t {
	background:#F2F2F2;
	height:35px;
	line-height:35px;
	overflow:hidden;
}
.tab_01 .tab_t li {
	float:left;
	width:150px;
	text-align:center;
	font-size:14px;
}
.tab_01 .tab_t li p {
	border-right:1px solid #E6E6E6;
}
.tab_01 .tab_t li.on {
	background:#F19149;
	color:#FFF;
}
.tab_01 .tab_c {
	padding-top:30px;
}*/

/* 模块框架 */
/*.column_00 .column_t {
	background:url(/images/common/part_bg.gif) repeat-x #F9F9F9;
	height:35px;
	line-height:35px;
	border:1px solid #DEDBD2;
	padding:0 12px 0 15px;
}
.column_00 .column_t .column_title b {
	font-size:14px;
	color:#FF6600;
}
.column_00 .column_t .more {
	float: right;
}
.column_00 .column_t .more a {
	color:#999999;
}
.column_00 .column_t .more a:hover {
	color:#FF6600;
}
.column_00 .column_c {
	border:1px solid #DEDBD2;
	background:#FFF;
	border-top:none;
}*/
.column_01 .column_t .column_title {
	padding-top:50px;
	text-align:center;
}
.column_01 .column_t .column_title b {
	font-size:25px;
	font-weight:normal;
	display:block;
}
.column_01 .column_t .column_title span {
	display:block;
	opacity:0.60; filter:alpha(opacity=60); zoom:1;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:3px;
}
.column_01 .column_b .column_more {
	text-align:center;
	padding-bottom:50px;
}
.column_01 .column_b .column_more a {
	background:url(/images/ico_05.png) no-repeat 83px 13px #FFF;
	color:#999;
	display:block;
	width:130px;
	line-height:35px;
	margin:0 auto;
	border-radius:100px;
	transition:0.3s all ease;
	font-family:Arial, Helvetica, sans-serif;
}
.column_01 .column_b .column_more a span {
	display:block;
	font-size:10px; -webkit-transform: scale(0.83); -moz-transform : scale(1);
	padding-right:10px;
}
.column_01 .column_b .column_more a:hover {
	background:url(/images/ico_05.png) no-repeat 83px -37px #3488EA;
	color:#FFFFFF;
}
.column_01_color_b .column_t .column_title b {
	color:#FFFFFF;
}
.column_01_color_b .column_t .column_title span {
	color:#FFFFFF;
	opacity:0.50; filter:alpha(opacity=50);
}

/* 分享代码 */
.bshare-custom a {
    margin-right: 0 !important;
}
/*.bshare-custom {margin-bottom:5px; height:20px; overflow:hidden;}
.bshare-custom a {float:left !important; padding:0 !important; margin-right:5px !important; width:20px !important; height:20px !important; background:url(/images/share.jpg) no-repeat 0 0 !important; overflow:hidden !important; display:block !important;}
.bshare-custom .bshare-weixin {background-position:-54px 0 !important;}
.bshare-custom .bshare-sinaminiblog {background-position:-79px 0 !important;}
.bshare-custom .bshare-qzone {background-position:-129px 0 !important;}
.bshare-custom .bshare-qqim {background-position:-154px 0 !important;}*/

/* 服务栏目 */
.left_nav {
	/* border-top:1px solid #E5E5E5; */
	/* margin-top:15px; */
}
.left_nav .subnav .nav01_bg {
	display: none;
}
.left_nav .subnav .nav01 .nav01_a {
    border:1px solid #E5E5E5;
	display: block;
	height:50px;
	line-height:50px;
	overflow:hidden;
	cursor:pointer;
	margin-bottom:10px;
	border-radius:5px;
	font-size:16px;
}
.left_nav .subnav .nav01 .nav01_a span {
    background: url(/images/ico_25a.png) no-repeat 758px 13px;
	display: block;
	padding:0 0 0 20px;
}
.left_nav .subnav .nav01 .nav01_a strong {
	font-size:14px;
	font-family:"微软雅黑","黑体";
	color:#333333;
}
.left_nav .subnav .nav01 .nav01_a b {
	color:#666666;
	font-weight:normal;
	padding-left:8px;
}
/*.left_nav .subnav .nav01 .nav01_a:hover, .left_nav .subnav .nav01_hover .nav01_a {
	color:#3363B5;
}*/
.left_nav .subnav .nav01_hover .nav01_a span {
	background-position:758px -187px;
}
.left_nav .subnav .nav01_hover.nosub01 .nav01_a span {
	border-bottom:1px solid #D8D8D8;
}
.left_nav .subnav .nav01_hover .nav01_a {
	background:#FF6E39;
	color:#FFFFFF;
	border:1px solid #FF6E39 !important;
}
.left_nav .subnav .nosub01 .nav01_a {
    /*background: url(/images/2018/ico_07.png) no-repeat calc(100% - 15px) -70px; background-size:10px auto;*/
}
.left_nav .subnav .nav01 .nav01_a span i {
    background: #F15853;
    color: #FFFFFF;
    padding: 1px 5px;
    font-style: normal;
    border-radius: 50px;
    font-size: 12px;
	margin-left:3px;
}
/* 二级 */
.left_nav .subnav .nav02_bg {
	display:none;
}
/* 展开 */
.left_nav .subnav .nav01_hover .nav02_bg {
	display: block;
}
.left_nav .subnav .nav02_hover .nav03_bg {
	display: block;
}
.left_nav .subnav .nav01_bg_hover {
	display: block;
}
/* 数据展示 */
.left_nav .subnav .content {
	padding:0 0 25px;
}
.left_nav .subnav .content .title {
	background: url(/images/ico_25b.png) no-repeat 0 center;
	padding-left:20px;
	font-size:16px;
	margin-top:20px;
}
.left_nav .subnav .content .title span {
	color:#FF6E39;
}
.left_nav .subnav .content .sum {
	color:#666666;
	line-height:25px;
	font-size:14px;
	padding-top:8px;
	padding-left:20px;
}
.left_nav .subnav .content .mail {
	padding-top:15px;
	padding-left:20px;
}
.left_nav .subnav .content .mail a {
	color:#FF6E39;
	border:1px solid #FF6E39;
	display:inline-block; *display:inline; zoom:1;
	padding:8px 15px;
	font-size:16px;
	border-radius:5px;
}
.left_nav .subnav .content .mail a:hover {
	color:#FFF;
	background:#FF6E39;
}

/* 图片列表 */
.pic_list {
	padding:50px 0 0 40px;
}
.pic_list li {
	width: 240px;
	float:left;
	padding:0 20px 20px;
}
.pic_list li .pic_center {
	width: 240px;
	height: 190px;
	box-shadow:0 0 5px #CCC;
	border-radius:5px;
	border:1px solid #DDD \9;
}
.pic_list li .pic_center img {
	max-width: 220px;
	max-height: 170px;
}
.pic_list .title {
	height:30px;
	line-height:30px;
	overflow:hidden;
	text-align:center;
	font-size: 14px;
	padding-top:5px;
}

/* 通用模块内容 */
.part_01 {
	padding:25px 0 50px;
}
.part_01 li {
	float:left;
	margin-left:20px;
	width:285px;
}
.part_01 li.off {
	margin-left:0;
}
.part_01 li:hover {
	transition:0.3s all ease;
	box-shadow:0 0 15px #DDD;
}
.part_01 .pic {
	font-size:0;
	line-height: normal;
}
.part_01 .bg {
	background:#FFF;
	border:1px solid #DFE4EE;
	text-align:center;
	height:230px;
}
.part_01 .list {
	padding:28px 0 20px;
	line-height:28px;
}
.part_01 .list a {
	font-size:14px;
	color:#666666;
}
.part_01 .list a:hover {
	color:#3488EA;
}
.part_01 .button a {
	background:url(/images/ico_05.png) no-repeat 83px 13px #FFF;
	color:#999;
	display:block;
	border:1px solid #EEEEEE;
	width:130px;
	line-height:33px;
	margin:0 auto;
	border-radius:100px;
	transition:0.3s all ease;
	font-family:Arial, Helvetica, sans-serif;
}
.part_01 .button a span {
	display:block;
	font-size:10px; -webkit-transform: scale(0.83); -moz-transform : scale(1);
	padding-right: 10px;
}
.part_01 .button a:hover {
	background:url(/images/ico_05.png) no-repeat 83px -37px #3488EA;
	color:#FFFFFF;
	border:1px solid #3488EA;
}
.part_02 {
	background:url(/images/pic/pic_bg_01.jpg) no-repeat;
	height:600px;
}
.part_02 .part_l {
	float:left;
	background:url(/images/ico_06.png);
	width:230px;
	height:600px;
}
.part_02 .part_r {
	float:left;
	width:660px;
	padding:60px 0 0 130px;
}
.part_02 .tab_t {
	color:#FFFFFF;
	padding-top:30px;
}
.part_02 .tab_t p {
	height:89px;
	border-bottom:1px solid #525252;
	margin:0 10px;
	cursor:pointer;
}
.part_02 .tab_t #anniu1_1 p {
	border-top:1px solid #525252;
}
.part_02 .tab_t p b {
	font-size:16px;
	display:block;
	font-weight:normal;
	padding:20px 0 8px 20px;
}
.part_02 .tab_t p span {
	font-size:13px;
	display:block;
	opacity:0.40; filter:alpha(opacity=40); zoom:1;
	padding-left:20px;
}
.part_02 .tab_t .on p {
	margin:0;
	background:#3488EA;
	border-color:#3488EA;
}
.part_02 .tab_t .on p b {
	padding-left:30px;
	transition:0.5s all ease;
}
.part_02 .tab_t .on p span {
	opacity:1; filter:alpha(opacity=100);
	padding-left:30px;
	transition:0.8s all ease;
}
.part_02 .tab_c {
	color:#FFFFFF;
}
.part_02 .tab_c .part_title {
	font-size:24px;
	padding-bottom:25px;
}
.part_02 .tab_c .sum {
	font-size:13px;
	line-height:22px;
	opacity:0.80; filter:alpha(opacity=80); zoom:1;
}
.part_02 .tab_c .list {
	padding-top:30px;
}
.part_02 .tab_c .list .title {
	font-size:14px;
	padding-bottom:12px;
}
.part_02 .tab_c .list li {
	float:left;
	width:210px;
	padding:0 10px 10px 0;
}
.part_02 .tab_c .list li p {
	opacity:0.70; filter:alpha(opacity=70); zoom:1;
	height:33px;
	line-height:33px;
	overflow:hidden;
	border:1px solid #696969;
	background:#2B2B2B;
	text-align:center;
}
.part_03 {
	padding:25px 0 50px;
}
.part_03 li {
	float:left;
	margin-right:30px;
	width:380px;
}
.part_03 li:hover {
	transition:0.3s all ease;
	box-shadow:0 0 15px #DDD;
}
/*.part_03 li.off {
	padding-left:0;
}*/
.part_03 .pic {
	font-size:0;
	line-height: normal;
}
.part_03 .pic img {
	width:380px;
	height:280px;
}
.part_03 .pic span {
	background:url(/images/ico_07.png) no-repeat;
	width:100%;
	line-height:40px;
	color:#FFFFFF;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-indent:15px;
	margin-top:-40px;
	display:block;
	position:relative;
	*position: static;
	z-index:10;
}
.part_03 .bg {
	background:#FFF;
	height:165px;
	padding:0 40px;
}
.part_03 .title {
	border-bottom:1px solid #DBDBDB;
	height:55px;
	line-height:55px;
	padding-top:15px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.part_03 .title a {
	font-size:16px;
}
.part_03 .title a:hover {
	color:#3488EA;
}
.part_03 .sum {
	font-size:13px;
	color:#999999;
	height:44px;
	line-height:22px;
	padding-top:15px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.part_04 {
	padding:60px 0 20px;
}
.part_04 li {
	float:left;
	width:20%;
	padding-bottom:70px;
}
.part_04 li a {
	text-align:center;
	display:block;
	background:url(/images/ico_10.png) no-repeat center 0;
}
.part_04 li.a2 a {background-position:center -200px;}
.part_04 li.a3 a {background-position:center -400px;}
.part_04 li.a4 a {background-position:center -600px;}
.part_04 li.a5 a {background-position:center -800px;}
.part_04 li.a6 a {background-position:center -1000px;}
.part_04 li.a7 a {background-position:center -1200px;}
.part_04 li.a8 a {background-position:center -1400px;}
.part_04 li.a9 a {background-position:center -1600px;}
.part_04 li.a10 a {background-position:center -1800px;}
.part_04 li.a11 a {background-position:center -2000px;}
.part_04 li.a12 a {background-position:center -2200px;}
.part_04 li a b {
	display:block;
	font-size:20px;
	font-weight:normal;
	padding-top:60px;
}
.part_04 li a span {
	display:block;
	color:#999999;
	padding-top:5px;
}
.part_04b li {
	width:25%;
}
.part_04b li a {
	background-image:url(/images/ico_10b.png);
}
.part_04b li a b {
	padding-top:68px;
}
.part_05 .page {
	padding:15px 0 50px;
}
.part_05 {
	padding:25px 0 0;
	margin:0 -15px;
}
.part_05 li {
	float:left;
	margin:0 15px;
	width:380px;
	padding-bottom:30px;
}
.part_05 li:hover .bg {
	transition:0.3s all ease;
	box-shadow:0 0 15px #DDD;
}
.part_05 .pic {
	font-size:0;
	line-height: normal;
}
.part_05 .pic img {
	width:380px;
	height:240px;
}
.part_05 .pic span {
	background:url(/images/ico_07.png) no-repeat;
	width:100%;
	line-height:40px;
	color:#FFFFFF;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-indent:15px;
	margin-top:-40px;
	display:block;
	position:relative;
	*position: static;
	z-index:10;
}
.part_05 .title_bg {
	background:#FFF;
	height:86px;
	padding:0 25px;
	border-bottom:1px solid #EEEEEE;
}
.part_05 .title {
	height:30px;
	line-height:30px;
	padding-top:16px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.part_05 .title a {
	font-size:16px;
}
.part_05 .title a:hover {
	color:#3488EA;
}
.part_05 .classify {
	color:#999999;
	height:20px;
	line-height:20px;
    overflow:hidden;
}
.part_05 .nav {
	padding:10px 0 30px 15px;
}
.part_05 .nav p {
	float:left;
	width:238px;
	padding-right:3px;
}
.part_05 .nav p a {
	display: block;
	background:#FFF;
	color:#666666;
	line-height:50px;
	font-size:14px;
	text-align:center;
}
.part_05 .nav p a:hover, .part_05 .nav p a.on {
	background:#3488EA;
	color:#FFFFFF;
}
.part_05 .nav p a span {
	display:inline-block; *display:inline; zoom:1;
	background:url(/images/ico_17.png) no-repeat;
	padding-left:27px;
	cursor:pointer;
}
.part_05 .nav .a2 a span {background-position:0 -50px;}
.part_05 .nav .a3 a span {background-position:0 -100px;}
.part_05 .nav .a4 a span {background-position:0 -150px;}
.part_05 .nav .a5 a span {background-position:0 -200px;}
.part_05 .nav p a:hover span, .part_05 .nav p a.on span {background-position:0 -250px;}
.part_05 .nav .a2 a:hover span, .part_05 .nav .a2 a.on span {background-position:0 -300px;}
.part_05 .nav .a3 a:hover span, .part_05 .nav .a3 a.on span {background-position:0 -350px;}
.part_05 .nav .a4 a:hover span, .part_05 .nav .a4 a.on span {background-position:0 -400px;}
.part_05 .nav .a5 a:hover span, .part_05 .nav .a5 a.on span {background-position:0 -450px;}
.part_05 .count {
	background:#FFF;
	height:50px;
	line-height:50px;
	padding:0 22px;
}
.part_05 .count p {
	background:url(/images/ico_12.png) no-repeat 0 -32px;
	float:left;
	padding:0 12px 0 21px;
	color:#BBB;
	font-family:Arial, Helvetica, sans-serif;
}
.part_05 .count p.a2 {
	background-position: 0 -84px;
}
.part_06_bg {
	background:url(/images/pic/pic_bg_02.jpg) no-repeat;
	height:465px;
}
.part_06_bg .column_01 .column_t .column_title {
	padding-top: 70px;
}
.part_06 {
	background:url(/images/ico_11a.png) no-repeat center bottom;
	padding-top:80px;
}
.part_06 ul {
	padding-left:5px;
}
.part_06 li {
	float: left;
	width:70px;
	color: #FFFFFF;
	text-align:center;
	margin:0 35px;
}
.part_06 li.a1 {
	margin-left:0;
}
.part_06 li.a9 {
	margin-right:0;
}
.part_06 .bg {
	position:relative;
}
.part_06 .title {
	font-size:14px;
	background:url(/images/ico_11b.png) no-repeat;
	opacity:0.50; filter:alpha(opacity=50); zoom:1;
	padding:95px 0 0;
	height:65px;
}
.part_06 .a2 .title {background-position:-140px 0;}
.part_06 .a3 .title {background-position:-280px 0;}
.part_06 .a4 .title {background-position:-420px 0;}
.part_06 .a5 .title {background-position:-560px 0;}
.part_06 .a6 .title {background-position:-700px 0;}
.part_06 .a7 .title {background-position:-840px 0;}
.part_06 .a8 .title {background-position:-980px 0;}
.part_06 .a9 .title {background-position:-1120px 0;}
.part_06 li:hover .title {
	opacity:1; filter:alpha(opacity=100);
}
.part_06 .sum {
	background:url(/images/ico_11c.png) no-repeat center 0;
	position: absolute;
	top:147px;
	left:-51px;
	height:94px;
	width:170px;
	display:none;
}
.part_06 .sum p {
	padding:35px 12px 0;
	opacity:0.60; filter:alpha(opacity=60); zoom:1;
	font-size:11px; -webkit-transform: scale(0.92); -moz-transform : scale(1);
	line-height:16px;
}
.part_06 li:hover .sum {
	display: block;
}
.part_07 {
	padding:25px 0 0;
	margin:0 -15px;
}
.part_07 .bg {
	background:#FFF;
}
.part_07 li {
	float:left;
	margin:0 15px;
	width:380px;
	padding-bottom:30px;
}
.part_07 li:hover .bg {
	transition:0.3s all ease;
	box-shadow:0 0 15px #DDD;
}
.part_07 .title_bg {
	border-bottom:1px solid #EEEEEE;
	margin:0 25px;
	padding-bottom:18px;
}
.part_07 .title {
	height:30px;
	line-height:30px;
	padding-top:18px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.part_07 .title a {
	font-size:16px;
}
.part_07 .title a:hover {
	color:#3488EA;
}
.part_07 .sum {
	color:#999999;
	height:40px;
	line-height:20px;
    overflow:hidden;
	padding-top:5px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.part_07 .count {
	height:50px;
	line-height:50px;
	padding:0 25px;
}
.part_07 .count p {
	background:url(/images/ico_12.png) no-repeat 0 17px;
	float:left;
	padding:0 12px 0 21px;
	color:#BBB;
	font-family:Arial, Helvetica, sans-serif;
}
.part_07 .count p.a2 {
	background-position: 0 -32px;
}
.part_07 .count p.a3 {
	background-position: 0 -84px;
}
.part_08 .page {
	padding:25px 0 50px;
}
.part_08 {
	padding:50px 0 0;
	margin:0 -10px;
}
.part_08 .bg {
	background:#FFF;
}
.part_08 li {
	float:left;
	margin:0 10px;
	width:590px;
	padding-bottom:20px;
}
.part_08 li:hover .bg {
	transition:0.3s all ease;
	box-shadow:0 0 15px #DDD;
}
.part_08 .title_bg {
	border-bottom:1px solid #EEEEEE;
	margin:0 25px;
	padding-top:18px;
	padding-bottom:18px;
}
.part_08 .title_bg .title_l {
	float:left;
	width:90px;
	padding-top:5px;
}
.part_08 .title_bg .time {
	border-right:1px solid #EEEEEE;
	font-family:Arial, Helvetica, sans-serif;
	padding:4px 0 4px 8px;
}
.part_08 .title_bg .time b {
	display:block;
	font-size:50px;
	color:#333333;
	line-height:45px;
}
.part_08 .title_bg .time span {
	display:block;
	font-size:14px;
	color:#999999;
	padding-left:2px;
}
.part_08 .title_bg .title_r {
	float: right;
	width:425px;
}
.part_08 .title {
	height:30px;
	line-height:30px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.part_08 .title a {
	font-size:16px;
}
.part_08 .title a:hover {
	color:#3488EA;
}
.part_08 .sum {
	color:#999999;
	height:40px;
	line-height:20px;
    overflow:hidden;
	padding-top:5px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.part_08 .count {
	height:50px;
	line-height:50px;
	padding:0 25px;
}
.part_08 .count p {
	background:url(/images/ico_12.png) no-repeat 0 17px;
	float:left;
	padding:0 12px 0 21px;
	color:#BBB;
	font-family:Arial, Helvetica, sans-serif;
}
.part_08 .count p.a2 {
	background-position: 0 -32px;
}
.part_08 .count p.a3 {
	background-position: 0 -84px;
}
.part_09 .title {
	line-height:25px;
	color:#000000;
	font-size:16px;
	padding-bottom:20px;
}
.part_09 .sum {
	color:#666666;
	line-height:22px;
}
.part_10 {
	background:url(/images/pic/pic_bg_03.jpg) no-repeat center 0;
	padding-top:150px;
}
.part_10 .button {
	background:#FFF;
}
.part_10 .button li {
	float: left;
}
.part_10 .button li div {
	margin-right:2px;
	margin-bottom:2px;
	position:relative;
}
.part_10 .button li.a3 .clearfix {
	margin-right:0;
	margin-bottom:0;
}
.part_10 .button li.a3 div {
	margin-right:0;
}
.part_10 .button li.a3 .b4 {
	margin-right:2px;
}
.part_10 .button li .b2, .part_10 .button li .b3, .part_10 .button li .b6 {
	margin-bottom:0;
}
.part_10 .button li div p {
	background:url(/images/ico_23a.png);
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	color: #FFFFFF;
	text-align:center;
	cursor:pointer;
	transition:0.5s all ease;
	opacity:0; filter:alpha(opacity=0); zoom:1; visibility: hidden;
	visibility: visible \9; display:none \9;
}
.part_10 .button li div a:hover p {
	opacity:1; filter:alpha(opacity=100); visibility: visible;
	display: block \9;
}
.part_10 .button li div p b {
	background:url(/images/ico_23b.png) no-repeat center bottom;
	display: block;
	font-size:20px;
	padding-bottom:8px;
	font-weight:normal;
	transition:0.3s all ease;
	padding-top:140px;
}
.part_10 .button li div a:hover p b {
	padding-top:120px;
}
.part_10 .button li div p span {
	display: block;
	padding-top:8px;
	font-family:Arial, Helvetica, sans-serif;
}
.part_10 .button li div.b3 p b {
	padding-top:290px;
}
.part_10 .button li div.b3 a:hover p b {
	padding-top:270px;
}
.part_11 li {
	border-bottom:1px solid #E5E5E5;
	padding:18px 0;
}
.part_11 li .time {
	color:#F19149;
	font-size:22px;
	float:left;
}
.part_11 li .title_bg {
	float: right;
	width:720px;
	padding-top:2px;
}
.part_11 li .title {
	color:#333;
	font-size:18px;
}
.part_11 li .sum {
	color:#999;
	font-size:14px;
	line-height:22px;
	padding-top:8px;
}
.part_12 .part_t {
	background:url(/images/ico_26.png) no-repeat;
	height:500px;
	padding:0 0 0 243px;
}
.part_12 .part_t li {
	float:left;
	width:319px;
}
.part_12 .part_t .title {
	font-size:18px;
	text-align:center;
	padding-top:150px;
}
.part_12 .part_t .sum {
	font-size:14px;
	line-height:25px;
	padding:15px 20px 0 35px;
	color:#666;
}
.part_12 .part_b {
	padding-bottom:80px;
}
.part_12 .part_b .part_title {
	font-size:24px;
	text-align:center;
	padding-bottom:60px;
}
.part_12 .part_b li {
	background:url(/images/ico_27.png) no-repeat center 0;
	float:left;
	width:600px;
	padding-top:150px;
}
.part_12 .part_b li.a2 {
	background-position:center -1000px;
}
.part_12 .part_b .title {
	font-size:18px;
	text-align:center;
}
.part_12 .part_b .sum {
	font-size:14px;
	padding-left:120px;
	padding-top:50px;
	color:#666;
	line-height:25px;
}
.part_12 .part_b .sum a {
	color:#EA7219;
}
.part_12 .part_b .sum a:hover {
	color:#FF0000;
}
.part_13_bg {
	background:url(/images/pic/pic_bg_04.jpg) no-repeat;
	height:800px;
}
.part_13 {
	border-top:1px solid #354157;
	margin-top:40px;
}
.part_13 .part_bg {
	width:865px;
	margin:0 auto;
	padding:30px 0;
}
.part_13 .w50 {
	width:420px;
}
.part_13 .title {
	font-size:16px;
	color:#FFFFFF;
	padding:20px 0 8px;
}
.part_13 .text {
	position:relative;
}
.part_13 .code {
	float:right;
	position:absolute;
	top:10px;
	right:10px;
}
.part_13 .text input {
	background: #FFF; border: none; padding: 0 15px; width: 835px; height: 50px; line-height: 50px; color: #333; font-size:16px;
	border-radius:5px;
}
.part_13 .w50 .text input {
	width: 390px;
}
.part_13 .text textarea {
	background: #FFF; border: none; padding: 12px 15px; width: 835px; height: 100px; line-height: 20px; color: #333; font-size:16px;
	border-radius:5px;
}
.part_13 .button {
	padding-top:40px;
	text-align:center;
}
.part_13 .button input {
	background: #F7934F; border:none; margin:0; padding:0; cursor:pointer; overflow: visible;
	width:180px; height:55px; line-height:55px; font-size:22px; color:#FFF; font-family:"微软雅黑","黑体";
	border-radius:100px;
}
.part_13 .button input:hover {
	background: #F89E61;
}