
<div class="footer">
    <div class="footer_t block clearfix">
        <dl>
            <dt>产品与解决方案</dt>
            <dd><a href="#">产品</a></dd>
            <dd><a href="#">解决方案</a></dd>
        </dl>
        <dl>
            <dt>成功案例</dt>
            <dd><a href="#">智慧卫生健康</a></dd>
            <dd><a href="#">智慧城市</a></dd>
            <dd><a href="#">电子政务</a></dd>
            <dd><a href="#">集团企业信息化</a></dd>
        </dl>
        <dl>
            <dt>服务支持</dt>
            <dd><a href="#">咨询服务</a></dd>
            <dd><a href="#">产品支持</a></dd>
            <dd><a href="#">网是智慧客服</a></dd>
        </dl>
        <dl>
            <dt>新闻动态</dt>
            <dd><a href="#">公司新闻</a></dd>
            <dd><a href="#">业务动态</a></dd>
            <dd><a href="#">媒体报道</a></dd>
        </dl>
        <dl>
            <dt>党工建设</dt>
            <dd><a href="#">党建动态</a></dd>
            <dd><a href="#">图说党建</a></dd>
            <dd><a href="#">工会活动</a></dd>
            <dd><a href="#">工会福利</a></dd>
            <dd><a href="#">政策解读</a></dd>
            <dd><a href="#">建议投稿</a></dd>
        </dl>
        <dl>
            <dt>关于网是</dt>
            <dd><a href="#">总经理致辞</a></dd>
            <dd><a href="#">公司简介</a></dd>
            <dd><a href="#">资质荣誉</a></dd>
            <dd><a href="#">校企合作</a></dd>
            <dd><a href="#">企业文化</a></dd>
            <dd><a href="#">人力资源</a></dd>
        </dl>
        <dl class="a7">
            <dt>联系我们</dt>
            <dd>业务咨询（029-68255871/68255870）</dd>
            <dd>手机咨询（18992880571）</dd>
            <dd>客服电话（029-68255871转808）</dd>
            <dd>备案咨询（029-68255871转809）</dd>
            <dd>电子传真（029-68255870）</dd>
            <dd>咨询QQ（<a href="http://wpa.qq.com/msgrd?v=3&uin=290262034&site=qq&menu=yes" target="_blank">290262034</a>）</dd>
        </dl>
    </div>
    <div class="footer_c block clearfix">
        <div class="contact"><b>400-0333-029</b><span>地址：西安市高新区锦业路1号绿地中央广场</span></div>
        <div class="logo"><img src="/images/logo_b.png" alt="" /></div>
        <div class="code"><img src="/images/code_b.png" alt="" /></div>
    </div>
    <div class="footer_b">
        <div class="block">
            <div class="nav"><a href="#">首页</a><span>|</span><a href="http://map.baidu.com/?poiShareId=dec577da8bb717f04c776e3d&tn=B_NORMAL_MAP" target="_blank">地理位置</a><span>|</span><a href="#">联系我们</a><span>|</span><a href="#">版权声明</a></div>
            <div class="copyright">Copyright &copy; 2019 网是科技 All Rights Reserved.　陕ICP备05015154号　
            <script src="http://s8.cnzz.com/stat.php?id=1254936163&web_id=1254936163&show=pic" language="JavaScript" charset="gb2312"></script></div>
        </div>
    </div>
</div>

<!--测试 -->
<!-- #include file="ceshi.asp"-->