<!--[if lte IE 6]>
<div class="ie6_bg">
    <div class="ie6">
        <ul class="clearfix">
            <li><a href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads" title="IE浏览器" target="_blank"></a></li>
            <li><a href="http://www.firefox.com.cn/" title="火狐浏览器" target="_blank"></a></li>
            <li><a href="https://www.google.cn/intl/zh-CN/chrome/" title="谷歌浏览器" target="_blank"></a></li>
            <li><a href="http://www.maxthon.cn/" title="遨游浏览器" target="_blank"></a></li>
            <li><a href="http://chrome.360.cn/" title="360急速浏览器" target="_blank"></a></li>
            <li><a href="http://se.360.cn/" title="360安全浏览器" target="_blank"></a></li>
        </ul>
    </div>
</div>
<![endif]-->

<div class="header">
    <div class="block">
        <div class="top_nav">
            <ul class="clearfix">
                <li class="a1"><a href="/" class="nav_a"><span>首页</span></a></li>
                <li class="a2"><a href="#" class="nav_a"><span>旧版</span></a></li>
                <li class="a3"><div class="nav_a"><span>扫一扫</span><i><img src="/images/code_t.png" alt="" /></i></div></li>
                <li class="a4">
                    <div class="nav_a">
                        <span>搜索</span>
                        <div class="top_search">
                            <div class="search_c">
                                <input class="text" name="textfield" type="text" value="输入关键词" onFocus='if (value =="输入关键词"){value=""}' onblur='if (value ==""){value="输入关键词"}' />
                                <input class="button" type="button" value="搜 索" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mainnav">
            <ul class="clearfix">
                <!--<li class="pull_li"><a href="/" class="pull_a">首页</a></li> -->
                <li class="pull_li" onmouseout="this.className='pull_li'" onmouseover="this.className='pull_li pull_li_hover'">
                    <a href="#" class="pull_a on">产品与解决方案</a>
                    <div class="subnav subnav_a">
                        <span><a href="#">产品</a></span>
                        <span><a href="#">解决方案</a></span>
                    </div>
                </li>
                <li class="pull_li" onmouseout="this.className='pull_li'" onmouseover="this.className='pull_li pull_li_hover'">
                    <a href="#" class="pull_a">成功案例</a>
                    <div class="subnav">
                        <span><a href="#">智慧卫生健康</a></span>
                        <span><a href="#">智慧城市</a></span>
                        <span><a href="#">电子政务</a></span>
                        <span><a href="#">集团企业信息化</a></span>
                    </div>
                </li>
                <li class="pull_li" onmouseout="this.className='pull_li'" onmouseover="this.className='pull_li pull_li_hover'">
                    <a href="#" class="pull_a">服务支持</a>
                    <div class="subnav">
                        <span><a href="#">咨询服务</a></span>
                        <span><a href="#">产品支持</a></span>
                        <span><a href="#">网是智慧客服</a></span>
                    </div>
                </li>
                <li class="pull_li" onmouseout="this.className='pull_li'" onmouseover="this.className='pull_li pull_li_hover'">
                    <a href="#" class="pull_a">新闻动态</a>
                    <div class="subnav">
                        <span><a href="#">公司新闻</a></span>
                        <span><a href="#">业务动态</a></span>
                        <span><a href="#">行业新闻</a></span>
                        <span><a href="#">媒体报道</a></span>
                    </div>
                </li>
                <li class="pull_li" onmouseout="this.className='pull_li'" onmouseover="this.className='pull_li pull_li_hover'">
                    <a href="#" class="pull_a">党工建设</a>
                    <div class="subnav">
                        <span><a href="#">关于党建</a></span>
                        <span><a href="#">关于工会</a></span>
                    </div>
                </li>
                <li class="pull_li" onmouseout="this.className='pull_li'" onmouseover="this.className='pull_li pull_li_hover'">
                    <a href="#" class="pull_a">关于网是</a>
                    <div class="subnav">
                        <span><a href="#">总经理致辞</a></span>
                        <span><a href="#">公司简介</a></span>
                        <span><a href="#">企业优势</a></span>
                        <span><a href="#">企业文化</a></span>
                        <span><a href="#">大事记</a></span>
                        <span><a href="#">人力资源</a></span>
                        <span><a href="#">联系我们</a></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="logo"><a href="/"><img src="/images/logo.png" alt="返回首页" /></a></div>
        <div class="clr"></div>
    </div>
</div>

<!--右侧悬浮层 -->
<div class="side_bar">
    <ul>
        <li class="a1">
            <p class="side_bar_a"><span>联系我们</span></p>
            <div class="layer">
                <div class="phone">
                    业务咨询：029-68255871 / 68255870<br />
                    手机咨询：18992880571<br />
                    客服电话：029-68255871转808<br />
                    备案咨询：029-68255871转809<br />
                    电子传真：029-68255870
                </div>
                <div class="button clearfix">
                    <p><a href="#w1">留言咨询</a></p>
                    <p><a href="http://wpa.qq.com/msgrd?v=3&uin=290262034&site=qq&menu=yes" target="_blank">QQ咨询</a></p>
                </div>
            </div>
        </li>
        <li class="a2"><a href="http://kefu.wsxa.com/" target="_blank" class="side_bar_a"><span>智慧客服</span></a></li>
        <li class="a3"><a href="http://map.baidu.com/?poiShareId=dec577da8bb717f04c776e3d&tn=B_NORMAL_MAP" target="_blank" class="side_bar_a"><span>地理位置</span></a></li>
        <li class="a4"><a href="#" class="side_bar_a"><span>返回顶部</span></a></li>

    </ul>
</div>

<!--<div class="bqxx"></div> -->